/* Write your CSS code here */
.details-container {
  display: flex;
  margin-bottom: 20px;
  border: solid;
  border-width: 1px;
  border-color: lightslategray;
  border-radius: 10px;
  padding: 10px;
}

.blog-topic {
  margin-left: 10px;
}

.blog-image-style {
  height: 150px;
  width: 200px;
}

.avatar-image {
  margin-left: 10px;
  height: 30px;
  width: 30px;
  border-radius: 20px;
}
.title-style {
  font-size: 20px;
  margin-left: 10px;
}
.author-detail {
  display: flex;
  align-items: center;
}
.author-name {
  margin-left: 10px;
}
.link-style {
  text-decoration: none;
}
